
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <button type="button" id="sidebarCollapse" class="btn btn-light me-auto">
  <i class="fas fa-align-left"></i>
</button>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <form action="/search" class="d-flex" role="search">
          <input
            class="form-control"
            type="search"
            placeholder="Search"
            aria-label="Search"
            value=""
            name="name"
          />
          <button class="btn btn-outline-primary me-4" type="submit">
            Search
          </button>
        </form>
        <img src="/img/profile_photo.png" alt="" />
        <li class="nav-item dropdown ms-3 me-4">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Account Name
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li>
              <a class="dropdown-item" href="#">Another action</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
