<%- include("_header") -%>

<nav id="sidebar">
    <div class="sidebar-header">
        <img class="mb-3" src="/img/icon1.svg" alt="">
    </div>
    
    
    <div class="list-unstyled components">
        <img src="/img/home.svg" alt="">
        <img src="/img/administrator.svg" alt="">
        
    </div>
</nav>
<div class="sidenav col-2">
    <div class="sidebar-header p-3 mt-2">
        <img src="/img/logo.png" alt="">
      </div>
      <ul class="list-group list-group-flush mt-4">
        <li class="list-group-item mb-4">
            <a href=""><h5>Cars</h5></a>
        </li>
    </ul>
    <ul class="list-group list-group-flush">
          <li class="list-group-item mb-4 list-group-item-dark">
              <a href=""><h6>List Cars</h6></a>
          </li>
        
      </ul>
</div>