<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
    <title>Homepage</title>
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
    <form>
      <input id="addName" type="text" name="name" placeholder="Motor Gede Ican"><br>
      <button onclick="addDataProduct()">Tambah Produk</button>
    </form>
  </body>
  <script src="/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</html>
