<%- include("layouts/_sidebar") -%>

<script src="/send_url.js"></script>
<div id="content">
  <%- include("layouts/_navbar") -%>
  <ul class="breadcrumb">
    <li>Cars</a></li>
    <li><a href="/">List Cars</a></li>
    <li>Add New Car</li>
  </ul>
  <div class="ms-3">
    <h5><strong>Add New Car</strong></h5>
  </div>
  <form class="p-2" action="/admin/add" method="POST" enctype="multipart/form-data">
    <div class="bg-white p-4">
      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Nama</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" name="name" id="inputName" placeholder="Avanza" />
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label"
          >Sewa  Per Hari</label
        >
        <div class="col-sm-3">
          <input type="text" class="form-control" name="price" id="inputPrice" placeholder="Rp 0,-" />
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Ukuran</label>
        <div class="col-sm-3">
          <select class="form-select" aria-label="Default select example" name="size">
            <option value="Small">Small</option>
            <option value="Medium">Medium</option>
            <option value="Large">Large</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Foto</label>
        <div class="col-sm-3">
          <input type="file" class="form-control" name="imgUrl" id="imgUrl" placeholder="Small " />
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-5">Save</button>
    <button type="button" class="btn btn-outline-primary mt-5">
      <a href="/">Cancel</a>
    </button>
  </form>
</div>

<%- include('layouts/_footer') %> 