<%- include("layouts/_sidebar") -%>

<script src="/send_url.js"></script>
<div id="content">
  <%- include("layouts/_navbar") -%>
  <ul class="breadcrumb">
    <li>Cars</a></li>
    <li><a href="/">List Cars</a></li>
    <li>Update Car Information</li>
  </ul>
  <div class="ms-3">
    <h5><strong>Update Car Information</strong></h5>
  </div>
  <form class="p-2" action="/admin/edit/<%= data?.id %> " method="POST" enctype="multipart/form-data">
    <div class="bg-white p-4">
      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Nama</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" name="name" id="inputName" value="<%= data?.name %>" />
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label"
          >Sewa  Per Hari</label
        >
        <div class="col-sm-3">
          <input type="text" class="form-control" name="price" id="inputPrice" value="<%= data.price %>" />
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Ukuran</label>
        <div class="col-sm-3">
          <select class="form-select" aria-label="Default select example" name="size">
            <option selected><%= data.size %></option>
            <option value="Small">Small</option>
            <option value="Medium">Medium</option>
            <option value="Large">Large</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Foto</label>
        <div class="col-sm-3">
          <input type="file" class="form-control" name="imgUrl" id="imgUrl" value="<%= data.imgUrl %>"/>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-5">Save</button>
    <button type="button" class="btn btn-outline-primary mt-5">
      <a href="/">Cancel</a>
    </button>
  </form>
</div>

<%- include('layouts/_footer') %> 