<%- include("layouts/_sidebar") -%>

<!-- <script src="/send_url.js"></script> -->
<div id="content">
  <%- include("layouts/_navbar") -%>
  <div class="table-responsive">
    <div class="table-wrapper">
      <ul class="breadcrumb">
        <li><a href="/">Cars</a></li>
        <li>List Cars</li>
      </ul>
      <div class="alert">
        <% if (alert.length !== 0) { %>
          <div class="alert alert-success text-center" role="alert"><%= alert %></div>
          <% } %> <% if (alertUp.length !== 0) { %>
          <div class="alert alert-success text-center" role="alert"><%= alertUp %></div>
          <% } %> <% if (alertErr.length !== 0) { %>
          <div class="alert alert-success text-center" role="alert"><%= alertErr %></div>
          <% } %> <% if (alertDel.length !== 0) { %>
          <div class="alert bg-dark text-white text-center" role="alert"><%= alertDel %></div>
          <% } %>
      </div>
      <div class="container mb-4">
        <div class="row">
          <div class="col-9">
            <h5><strong>List Car</strong></h5>
          </div>
          <div class="col ms-5">
            <a href="/admin/add" class="btn btn-primary">
              <span
                ><i class="fas fa-plus" style="font-size: 24px"></i> Add New
                Car</span
              >
            </a>
          </div>
        </div>
      </div>
      <div class="btn-filter ms-3">
        <form class="form-inline" action="/category">
          <!-- <input type="hidden" value="" name="name" /> -->
          <button
          class="btn btn-outline-primary"
          name="size"
          value=""
          >
          <a href="/">All</a>
          </button>
          <button
            class="btn btn-outline-primary"
            name="size"
            value="Small"
          >
            Small
          </button>
          <button
            class="btn btn-outline-primary"
            name="size"
            value="Medium"
          >
            Medium
          </button>
          <button
            class="btn btn-outline-primary"
            name="size"
            value="Large"
          >
            Large
          </button>
        </form>
        </div>

        <!-- list cars -->
        <div class="row mb-4 mx-1">
          <% data.forEach((product)=> {%>
          <div class="col-4">
            <div class="card-mobil card">
              <img
                src="<%= product.imgUrl %> "
                class="card-img-top"
                alt="mobil-01"
                width="270"
                height="160"
              />
              <div class="card-body">
                <h5
                  class="card-title"
                  style="height: 35px; overflow-y: hidden; font-size: 14px"
                >
                  <%= product.name %>/ <%= product.size %>
                </h5>
                <h4 style="font-size: 16px">
                  <strong> Rp <%= product.price %> / hari</strong>
                </h4>
                <p style="height: 28px; overflow-y: hidden; font-size: 14px">
                  <i style="font-size: 24px" class="fas">&#xf017;</i> Updated At
                  <%= product.updatedAt %>
                </p>
                <div class="row mx-auto">
                  <div class="col-6">
                    <!--Delete Button  -->
                    <button
                      type="button"
                      class="btn btn-outline-danger btn-lg"
                      data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop<%= product.id %> "
                    >
                    <i class="fa fa-trash"></i>
                      Delete
                    </button>
                    <!-- Modal -->
                    <div
                        class="modal fade"
                        id="staticBackdrop<%= product.id %>"
                        data-bs-backdrop="static"
                        data-bs-keyboard="false"
                        tabindex="-1"
                        aria-labelledby="staticBackdropLabel"
                        aria-hidden="true"
                      >
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              
                              <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                              ></button>
                            </div>
                            <div class="modal-body text-center align-items-center">
                              <img class="mb-4" src="/img/logoModal.svg" alt="">
                              <h4 class="mb-3"  >Menghapus Data Mobil</h4>
                              <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                            </div>
                            <div class="modal-footer justify-content-center">
                              <form
                                action="/admin/delete/<%= product.id %> "
                                method="delete"
                                class="btn-delete"
                              >
                              <input type="hidden" name="id" id="deleteCar">
                              <button type="submit" class="btn btn-primary">
                                Ya 
                              </button>
                            </form>
                              <button
                                type="button"
                                class="btn btn-outline-primary"
                                data-bs-dismiss="modal">
                                Tidak
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-auto">
                    <button
                      type="button"
                      class="btn-mobil btn btn-success btn-lg"
                    >
                      <a href="/admin/edit/<%= product.id %>">
                        <i style="font-size: 24px" class="fas">&#xf044;</i>
                        Edit</a
                      >
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
    </div>
  </div>
</div>
<%- include("layouts/_footer") -%>
